In [2]:
import numpy as np
import pandas as pd
import webbrowser

In [3]:
website = 'https://en.wikipedia.org/wiki/NFL_win-loss_records'
webbrowser.open(website)

True

In [9]:
nfl_frame = pd.read_clipboard() # read anything which we just copied

In [10]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division
0,1,Dallas Cowboys,502,374,6,0.573,1960,882,NFC East
1,2,Green Bay Packers,737,562,37,0.565,1921,"1,336",NFC North
2,3,Chicago Bears,749,579,42,0.562,1920,"1,370",NFC North
3,4,Miami Dolphins,445,351,4,0.559,1966,800,AFC East
4,5,New England Patriots[b],489,386,9,0.558,1960,884,AFC East
5,6,Minnesota Vikings,470,390,10,0.546,1961,870,NFC North

In [12]:
pd.DataFrame(nfl_frame, columns=['Team', 'First NFL Season', 'Total Games'] )

                      Team  First NFL Season Total Games
0           Dallas Cowboys              1960         882
1        Green Bay Packers              1921       1,336
2            Chicago Bears              1920       1,370
3           Miami Dolphins              1966         800
4  New England Patriots[b]              1960         884
5        Minnesota Vikings              1961         870

In [15]:
nfl_frame.ix[3] # for individual row data

Rank                             4
Team                Miami Dolphins
Won                            445
Lost                           351
Tied                             4
Pct.                         0.559
First NFL Season              1966
Total Games                    800
Division                  AFC East
Name: 3, dtype: object

In [16]:
nfl_frame['Stadium'] = np.arange(6)

In [17]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division,Stadium
0,1,Dallas Cowboys,502,374,6,0.573,1960,882,NFC East,0
1,2,Green Bay Packers,737,562,37,0.565,1921,"1,336",NFC North,1
2,3,Chicago Bears,749,579,42,0.562,1920,"1,370",NFC North,2
3,4,Miami Dolphins,445,351,4,0.559,1966,800,AFC East,3
4,5,New England Patriots[b],489,386,9,0.558,1960,884,AFC East,4
5,6,Minnesota Vikings,470,390,10,0.546,1961,870,NFC North,5

In [24]:
del (nfl_frame['Stadium'])

KeyError: 'Stadium'

In [25]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division
0,1,Dallas Cowboys,502,374,6,0.573,1960,882,NFC East
1,2,Green Bay Packers,737,562,37,0.565,1921,"1,336",NFC North
2,3,Chicago Bears,749,579,42,0.562,1920,"1,370",NFC North
3,4,Miami Dolphins,445,351,4,0.559,1966,800,AFC East
4,5,New England Patriots[b],489,386,9,0.558,1960,884,AFC East
5,6,Minnesota Vikings,470,390,10,0.546,1961,870,NFC North

In [26]:
data = {'City':['Bangladesh', 'USA', 'Russia'], 'Population':[1800000, 400000, 6000000]}

In [29]:
conv_df = pd.DataFrame(data) # convert dictionary into dataframe

In [30]:
conv_df

         City  Population
0  Bangladesh     1800000
1         USA      400000
2      Russia     6000000