In [1]:
import pandas as pd

In [2]:
x = pd.Series(index = range(5), data=[1, 3, 9, 11, 12]) # Series act as an one dimensional array in pandas
print(x)

In [3]:
x.index = ["a", "b", "c", "d", "e"]
print(x)

In [4]:
print(x.iloc[:3])

In [5]:
sr = pd.Series(index=range(6), data=[10, 11, 12, 13, 14, 15])
print(sr)

In [6]:
odd_even = sr.groupby(sr.values % 2) # grouped by series values
print(odd_even.get_group(0))
print(odd_even.get_group(1))

In [7]:
print(odd_even.max()) # print the maximum value in each group

In [8]:
# Datafame in Pandas
df = pd.DataFrame({ "ColumnA": [1,2,3,4], "ColumnB": [5, 6, 7, 8]})
df

,ColumnA,ColumnB
0,1,5
1,2,6
2,3,7
3,4,8

In [9]:
df.iloc[:2, :2] # get section

,ColumnA,ColumnB
0,1,5
1,2,6

In [10]:
df["ColumnA"] # Indexing

In [11]:
df.ColumnA

In [12]:
df.sum() # vetical summation

In [13]:
df.sum(axis=1) # horizontal summation

In [14]:
# Group Selection in Datafame
dataF = pd.DataFrame({
  "col1": [0, 0, 1, 1],
  "col2": ["a", "b", "c", "d"],
  "col3": [2, 3, 4, 5]
})
dataF

,col1,col2,col3
0,0,a,2
1,0,b,3
2,1,c,4
3,1,d,5

In [15]:
grp = dataF.groupby("col1") # col1 wise group so we will get two group 0 and 1
grp.get_group(0)

,col1,col2,col3
0,0,a,2
1,0,b,3

In [16]:
grp.sum() # Only col3 will return cause it has numerical value

,col3
col1,
0,5
1,9

In [17]:
# Create new colum using eval in Dataframe
dataF["col1+col3"] = dataF.eval("col1 + col3")
dataF

,col1,col2,col3,col1+col3
0,0,a,2,2
1,0,b,3,3
2,1,c,4,5
3,1,d,5,6

In [18]:
grp = dataF.groupby(["col1", "col1+col3"])
grp.sum()

In [19]:
grp.sum().unstack()

In [20]:
import sympy as S

In [21]:
x = S.symbols("x")
p = sum(x**i for i in range(3)) # 2nd order polynomial
p

In [22]:
S.solve(p) # output roots of the polynominal

In [23]:
from sympy.abc import a, b, c

In [24]:
p = a* x**2 + b*x + c
S.solve(p, x)