In [1]:
import pandas as pd

In [2]:
temps = [30, 45, 60, 90]

In [3]:
temp_ser = pd.Series(temps, name="Temperature")

In [4]:
temp_ser

0    30
1    45
2    60
3    90
Name: Temperature, dtype: int64

In [5]:
temp_ser.mean()

56.25

In [6]:
temp_ser.sum()

225

## Boolean array

In [7]:
hot = pd.Series([False, False, True, True])

In [8]:
temp_ser[hot]

2    60
3    90
Name: Temperature, dtype: int64

In [9]:
mask = temp_ser > 55

In [10]:
mask

0    False
1    False
2     True
3     True
Name: Temperature, dtype: bool

In [11]:
mask2 = temp_ser < 90

In [12]:
mask2

0     True
1     True
2     True
3    False
Name: Temperature, dtype: bool

In [16]:
temp_ser[mask & mask2]

2    60
Name: Temperature, dtype: int64

In [17]:
temp_ser[mask | mask2]

0    30
1    45
2    60
3    90
Name: Temperature, dtype: int64

In [18]:
temp_ser[(temp_ser > 55) & (temp_ser < 90)]

2    60
Name: Temperature, dtype: int64

In [19]:
temp2 = pd.Series(temps, name="Temp2", index=['Sat', 'Sun', 'Mon', 'Tue'])

In [20]:
temp2

Sat    30
Sun    45
Mon    60
Tue    90
Name: Temp2, dtype: int64

In [21]:
dates = pd.date_range('20180101', periods=4)

In [22]:
temp3 = pd.Series(temps, name='Temp3', index=dates)

In [23]:
temp3

2018-01-01    30
2018-01-02    45
2018-01-03    60
2018-01-04    90
Freq: D, Name: Temp3, dtype: int64

In [24]:
temp3.index

DatetimeIndex(['2018-01-01', '2018-01-02', '2018-01-03', '2018-01-04'], dtype='datetime64[ns]', freq='D')

In [25]:
temp4 = pd.Series(temps, name="Temp4", index=[0, 1, 1, 3])

In [26]:
temp4

0    30
1    45
1    60
3    90
Name: Temp4, dtype: int64