# Projection

In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({'Name': ['Adnan', 'Hasan', 'Sami'],
                  'growth': [.5, .2, 1.1]})

In [3]:
df

    Name  growth
0  Adnan     0.5
1  Hasan     0.2
2   Sami     1.1

In [4]:
df.dtypes

Name       object
growth    float64
dtype: object

In [6]:
df.Name # return series

0    Adnan
1    Hasan
2     Sami
Name: Name, dtype: object

In [7]:
df['Name']

0    Adnan
1    Hasan
2     Sami
Name: Name, dtype: object

In [8]:
df[['Name']] # return dataframe

    Name
0  Adnan
1  Hasan
2   Sami

In [9]:
df[['growth', 'Name']]

   growth   Name
0     0.5  Adnan
1     0.2  Hasan
2     1.1   Sami

In [11]:
df.iloc[:, 1:] # return index and column 1

   growth
0     0.5
1     0.2
2     1.1

In [14]:
df.loc[df.Name.str.contains('n'), ['Name']]

    Name
0  Adnan
1  Hasan

In [16]:
df.loc[:, ['Name']]

    Name
0  Adnan
1  Hasan
2   Sami