# Product (join)

In [1]:
import pandas as pd

In [25]:
df = pd.DataFrame({'Name': ['Adnan', 'John', 'Salam'],
                  'growth': [.05, 0.1, 1.4]})

inst_df = pd.DataFrame([{'Name': 'Adi', 'inst': 'guitar'},
                        {'inst': 'drums', 'Name': 'Adnan'}])

In [26]:
df

    Name  growth
0  Adnan    0.05
1   John    0.10
2  Salam    1.40

In [27]:
inst_df

    Name    inst
0    Adi  guitar
1  Adnan   drums

In [28]:
pd.merge(df, inst_df, how='inner', on='Name')

    Name  growth   inst
0  Adnan    0.05  drums

In [31]:
pd.merge(df, inst_df, how='outer', on='Name')

    Name  growth    inst
0  Adnan    0.05   drums
1   John    0.10     NaN
2  Salam    1.40     NaN
3    Adi     NaN  guitar

In [32]:
pd.merge(df, inst_df, how='left', on='Name')

    Name  growth   inst
0  Adnan    0.05  drums
1   John    0.10    NaN
2  Salam    1.40    NaN

In [33]:
pd.merge(df, inst_df, how='right', on='Name')

    Name  growth    inst
0  Adnan    0.05   drums
1    Adi     NaN  guitar

In [34]:
inst2 = inst_df.copy()

In [35]:
inst2 = inst2.rename(columns={'Name': 'First'})

In [38]:
inst2

   First    inst
0    Adi  guitar
1  Adnan   drums

In [40]:
pd.merge(df, inst2, left_on='Name', right_on='First')

    Name  growth  First   inst
0  Adnan    0.05  Adnan  drums

In [42]:
df

    Name  growth
0  Adnan    0.05
1   John    0.10
2  Salam    1.40

In [43]:
inst_df

    Name    inst
0    Adi  guitar
1  Adnan   drums

In [44]:
pd.merge(df, inst_df, left_index=True, right_index=True)

  Name_x  growth Name_y    inst
0  Adnan    0.05    Adi  guitar
1   John    0.10  Adnan   drums

In [45]:
df.set_index('Name')

       growth
Name
Adnan    0.05
John     0.10
Salam    1.40

In [47]:
pd.merge(df.set_index('Name'), inst_df.set_index('Name'), left_index=True, right_index=True, how='outer')

       growth    inst
Name
Adi       NaN  guitar
Adnan    0.05   drums
John     0.10     NaN
Salam    1.40     NaN