# SQLite Databse

In [1]:
import sqlite3

### connection to database

In [2]:
connection = sqlite3.connect('classroomDB.db')
connection.close()

In [3]:
# open connection
connection = sqlite3.connect("classroomDB.db")
# open cursor
cursor = connection.cursor()

#query for creating table
create_table = """
CREATE TABLE classroom (
    student_id INTEGER PRIMARY KEY,
    name VARCHAR(20),
    gender CHAR(1),
    physics_marks INTEGER,
    chemistry_marks INTEGER,
    mathematics_marks INTEGER
);
"""
# execute query
cursor.execute(create_table)
# commit changes
connection.commit()
# close connection
connection.close()

### insert data

In [8]:
# sample data
classroom_data = [
    (1, 'Raj', 'M', 70, 84, 92),
    (2, 'Ponam', 'F', 87, 69, 93),
    (3, 'Niki', 'F', 65, 83, 90),
    (4, 'Rahul', 'M', 83, 76, 89)
]

# open connection
connection = sqlite3.connect('classroomDB.db')
# open cursor
cursor = connection.cursor()
# insert student record
for student in classroom_data:
    insert_statement = """
        INSERT INTO classroom (student_id, name, gender, physics_marks, chemistry_marks, mathematics_marks)
        VALUES ({0}, "{1}", "{2}", {3}, {4}, {5});
    """.format(student[0], student[1], student[2], student[3], student[4], student[5])
    
    # execute insert query
    cursor.execute(insert_statement)

# commit changes
connection.commit()
# close connection
connection.close()

In [10]:
connection = sqlite3.connect('classroomDB.db')
cursor = connection.cursor()
query = "SELECT * FROM classroom"
cursor.execute(query)
results = cursor.fetchall()
for result in results:
    print(result)

connection.commit()
connection.close()

(1, 'Raj', 'M', 70, 84, 92)
(2, 'Ponam', 'F', 87, 69, 93)
(3, 'Niki', 'F', 65, 83, 90)
(4, 'Rahul', 'M', 83, 76, 89)

### MySQL Database

In [14]:
import pymysql
# connection details

con = { 
        'host': 'localhost', 
        'username': 'root',
        'password': '',
        'db': 'classroomDB'
      }

# connect to the database
connection = pymysql.connect(con['host'], con['username'], con['password'], con['db'])
connection.close()

In [15]:
connection = pymysql.connect(con['host'], con['username'], con['password'], con['db'])
cursor = connection.cursor()

#query for creating table
create_table = """
CREATE TABLE classroom (
    student_id INTEGER PRIMARY KEY,
    name VARCHAR(20),
    gender CHAR(1),
    physics_marks INTEGER,
    chemistry_marks INTEGER,
    mathematics_marks INTEGER
);
"""
# execute query
cursor.execute(create_table)
# commit changes
connection.commit()
# close connection
connection.close()

In [16]:
classroom_data = [
    (1, 'Raj', 'M', 70, 84, 92),
    (2, 'Ponam', 'F', 87, 69, 93),
    (3, 'Niki', 'F', 65, 83, 90),
    (4, 'Rahul', 'M', 83, 76, 89)
]

# open connection
connection = pymysql.connect(con['host'], con['username'], con['password'], con['db'])
# open cursor
cursor = connection.cursor()
# insert student record
for student in classroom_data:
    insert_statement = """
        INSERT INTO classroom (student_id, name, gender, physics_marks, chemistry_marks, mathematics_marks)
        VALUES ({0}, "{1}", "{2}", {3}, {4}, {5});
    """.format(student[0], student[1], student[2], student[3], student[4], student[5])
    
    # execute insert query
    cursor.execute(insert_statement)

# commit changes
connection.commit()
# close connection
connection.close()

In [18]:
connection = pymysql.connect(con['host'], con['username'], con['password'], con['db'])
cursor = connection.cursor()
query = "SELECT * FROM classroom"
cursor.execute(query)
results = cursor.fetchall()
for result in results:
    print(result)

connection.commit()
connection.close()

(1, 'Raj', 'M', 70, 84, 92)
(2, 'Ponam', 'F', 87, 69, 93)
(3, 'Niki', 'F', 65, 83, 90)
(4, 'Rahul', 'M', 83, 76, 89)