# Relational Algebra Selection

In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({'Name': ['Adnan', 'John', 'Sami'],
                  'growth': [0.5, 0.3, 0.8]})

In [3]:
df

    Name  growth
0  Adnan     0.5
1   John     0.3
2   Sami     0.8

In [6]:
df[df.Name == 'Sami']

   Name  growth
2  Sami     0.8

In [7]:
df.Name == 'Sami'

0    False
1    False
2     True
Name: Name, dtype: bool

In [9]:
df.Name.str.contains('a')

0     True
1    False
2     True
Name: Name, dtype: bool

In [10]:
df.dtypes

Name       object
growth    float64
dtype: object

In [12]:
df[(df.Name == 'Sami') & (df.growth > .6)]

   Name  growth
2  Sami     0.8

In [14]:
df.query("Name == 'Sami' and growth > .6")

   Name  growth
2  Sami     0.8

In [15]:
df.query("Name == 'Sami' or Name == 'Adnan'")

    Name  growth
0  Adnan     0.5
2   Sami     0.8

In [18]:
df[~(df.Name != 'Adnan')]

    Name  growth
0  Adnan     0.5

In [19]:
~(df.Name == 'Adnan')

0    False
1     True
2     True
Name: Name, dtype: bool

In [21]:
df.query('not Name == "Adnan"')

   Name  growth
1  John     0.3
2  Sami     0.8

In [22]:
df.head(1)

    Name  growth
0  Adnan     0.5

In [23]:
df.tail(2)

   Name  growth
1  John     0.3
2  Sami     0.8

In [24]:
df.iloc[[2, 1]]

   Name  growth
2  Sami     0.8
1  John     0.3