# Difference

In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({'Name': ['Adnan', 'John', 'Salam'],
                  'growth': [.05, 0.1, 1.4]})

inst_df = pd.DataFrame([{'Name': 'Adi', 'inst': 'guitar'},
                        {'inst': 'drums', 'Name': 'Adnan'}])

In [3]:
df

    Name  growth
0  Adnan    0.05
1   John    0.10
2  Salam    1.40

In [4]:
inst_df

    Name    inst
0    Adi  guitar
1  Adnan   drums

In [6]:
mask =~df.Name.isin(inst_df.Name)

In [8]:
df[mask]

    Name  growth
1   John     0.1
2  Salam     1.4