In [1]:
import numpy as np
import pandas as pd

In [22]:
obj = pd.Series([3, 6, 9, 12], index=[0, 1, 2, 3])
obj

0     3
1     6
2     9
3    12
dtype: int64

In [23]:
obj.values

array([ 3,  6,  9, 12], dtype=int64)

In [24]:
obj.index

Int64Index([0, 1, 2, 3], dtype='int64')

In [83]:
obj1 = pd.Series([9820000, 1037408, 1937293, 2103874, 5947932], 
                 name='WW2_Casualities',
                 index=['UK', 'Germany', 'Russia', 'China', 'USA'])

In [84]:
obj1.index.name = 'Countries'
obj1

Countries
UK         9820000
Germany    1037408
Russia     1937293
China      2103874
USA        5947932
Name: WW2_Casualities, dtype: int64

In [85]:
obj1['USA']

5947932

In [86]:
obj1[obj1 > 3000000]

Countries
UK     9820000
USA    5947932
Name: WW2_Casualities, dtype: int64

In [87]:
'Russia' not in obj1

False

In [88]:
conv_dict = obj1.to_dict() # convert Series into python dictonary

In [89]:
conv_dict

{'China': 2103874,
 'Germany': 1037408,
 'Russia': 1937293,
 'UK': 9820000,
 'USA': 5947932}

In [90]:
conv_series = pd.Series(conv_dict) # convert dictionary into Series

In [91]:
conv_series

China      2103874
Germany    1037408
Russia     1937293
UK         9820000
USA        5947932
dtype: int64