In [2]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [19]:
my_ser = pd.Series([1, 2, 3, 4], index=['A', 'B', 'C', 'D'])

In [20]:
my_ser

A    1
B    2
C    3
D    4
dtype: int64

In [21]:
my_ser.index

Index(['A', 'B', 'C', 'D'], dtype='object')

In [22]:
my_ser.loc['C']

3

In [23]:
my_ser['D']

4

In [24]:
my_ser.iloc[3] # it requres number

4

In [25]:
series01 = pd.Series([1, 2, 3, 4], index=['A', 'B', 'C', 'D'])

In [26]:
series01

A    1
B    2
C    3
D    4
dtype: int64

In [30]:
series02 = series01.reindex(['A', 'B', 'C', 'D', 'E', 'F'], fill_value = 0)

In [31]:
series02

A    1
B    2
C    3
D    4
E    0
F    0
dtype: int64

In [3]:
series03 = pd.Series(['USA', 'UK', 'Bangladesh', 'Russia'], index=[1, 3, 6, 9])

In [4]:
series03

1           USA
3            UK
6    Bangladesh
9        Russia
dtype: object

In [6]:
series03.reindex(range(14), method='ffill')

0            NaN
1            USA
2            USA
3             UK
4             UK
5             UK
6     Bangladesh
7     Bangladesh
8     Bangladesh
9         Russia
10        Russia
11        Russia
12        Russia
13        Russia
dtype: object

In [25]:
series04 = pd.DataFrame(randn(25).reshape(5, 5), 
                        index=['A', 'B', 'D', 'E', 'F'], 
                        columns=['col1', 'col2', 'col3', 'col4', 'col5'])

In [31]:
series04

       col1      col2      col3      col4      col5
A -0.037136  0.687845  0.215994  0.038026 -1.055040
B -0.559911  0.176727  0.846008 -0.014452  2.394612
D -0.027123 -0.464966 -0.961391 -0.154072  0.454294
E -0.694273 -0.451516 -0.109296 -1.809825  1.914986
F  1.103943 -0.945319  0.004869  1.362039 -0.767404

In [32]:
series05 = series04.reindex(['A', 'B', 'C', 'D', 'E', 'F'])
series05

       col1      col2      col3      col4      col5
A -0.037136  0.687845  0.215994  0.038026 -1.055040
B -0.559911  0.176727  0.846008 -0.014452  2.394612
C       NaN       NaN       NaN       NaN       NaN
D -0.027123 -0.464966 -0.961391 -0.154072  0.454294
E -0.694273 -0.451516 -0.109296 -1.809825  1.914986
F  1.103943 -0.945319  0.004869  1.362039 -0.767404

In [33]:
series05.reindex(columns=['col1', 'col2', 'col3', 'col4', 'col5', 'col6'])

       col1      col2      col3      col4      col5  col6
A -0.037136  0.687845  0.215994  0.038026 -1.055040   NaN
B -0.559911  0.176727  0.846008 -0.014452  2.394612   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D -0.027123 -0.464966 -0.961391 -0.154072  0.454294   NaN
E -0.694273 -0.451516 -0.109296 -1.809825  1.914986   NaN
F  1.103943 -0.945319  0.004869  1.362039 -0.767404   NaN

In [36]:
series05.ix[['A', 'B', 'C', 'D', 'E', 'F'], ['col1', 'col2', 'col3', 'col4', 'col5', 'col6']]

       col1      col2      col3      col4      col5  col6
A -0.037136  0.687845  0.215994  0.038026 -1.055040   NaN
B -0.559911  0.176727  0.846008 -0.014452  2.394612   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D -0.027123 -0.464966 -0.961391 -0.154072  0.454294   NaN
E -0.694273 -0.451516 -0.109296 -1.809825  1.914986   NaN
F  1.103943 -0.945319  0.004869  1.362039 -0.767404   NaN